.add {
   width: 100%;
   height: calc(100vh - 50px); /* Üst barın yüksekliği dikkate alındı */
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0; /* Üst ve alt boşluk ekledim */
   flex-direction: column;
}

.form-title {
   font-size: 2rem; /* Başlık boyutu */
   font-weight: bold; /* Kalın yazı */
   color: #333; /* Başlık rengi */
   margin-bottom: 20px; /* Başlık ile form arasındaki boşluk */
   text-align: center; /* Ortalanmış başlık */
}

.add form {
   background-color: rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 450px;
   width: 90%;
   max-width: 1000px;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.3);
}

.add form .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 20px;
}

.add form .text input,
.add form .text textarea {
   width: 100%;
   outline: none;
   border: none;
   border-radius: 10px;
   margin-bottom: 15px;
}

.add form .text input {
   height: 40px;
   padding: 0px 0px 0px 10px;
   font-size: 1.1rem;
}

.add form .text input:first-child {
   margin-top: 0;
}

.add form .text input:last-child {
   font-family: 'Dancing Script', cursive;
   font-weight: 700;
}

.add form .text textarea {
   height: 180px;
   padding: 10px 0px 0px 10px;
   font-size: 1rem;
}

.add form .button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 10px;
}

.add form .button button, .add form .button label {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: lightgreen;
   border: none;
   outline: none;
   border-radius: 5px;
   font-size: 1.1rem;
   cursor: pointer;
   margin-bottom: 10px;
}

.add form .button label {
   background-color: rgb(255, 231, 159);
}

.add form .button button {
   background-color: #4CAF50;
}

button.delete-btn {
   background-color: #ff4f4f;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 1em;
   margin-top: 10px;
   padding: 8px 15px;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

button.delete-btn:hover {
   background-color: #e33f3f;
}
